src/main/mule/world-time-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	xmlns:custom-metrics="http://www.mulesoft.org/schema/mule/custom-metrics"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/custom-metrics http://www.mulesoft.org/schema/mule/custom-metrics/current/mule-custom-metrics.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="b977b4e9-598e-44bd-99b4-771521a7e586" basePath="/api/timezone" >
		<http:request-connection host="worldtimeapi.org" />
	</http:request-config>
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="32f6395a-69cb-4177-8edc-5f0d1e08c149" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<vm:config name="VM_Config" doc:name="VM Config" doc:id="d027f202-09ac-49df-8d6e-2e46d2275607" >
		<vm:queues >
			<vm:queue queueName="worldtimezoneQueue" />
		</vm:queues>
	</vm:config>
	<flow name="world-time-apiFlow" doc:id="373d3034-62be-4f99-9b7d-ad8b9c92dccb" >
		<http:listener doc:name="Listener" doc:id="7153a075-0798-4b0e-b243-efd11f546ee9" config-ref="HTTP_Listener_config" path="/{region}/{city}"/>
		<http:request method="GET" doc:name="Request" doc:id="0671d2ec-0819-4f58-8b83-93f5dff22612" config-ref="HTTP_Request_configuration" path="/{region}/{city}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	city : attributes.uriParams.city,
	region : attributes.uriParams.region
}]]]></http:uri-params>
		</http:request>
		<custom-metrics:send doc:name="Send Custom Metric" doc:id="58b88de3-a67d-4d85-8446-49db1ab33840" metricName="worldtimezoneCM">
			<custom-metrics:dimensions >
				<custom-metrics:dimension dimensionName="Step" value="1" />
			</custom-metrics:dimensions>
			<custom-metrics:facts >
				<custom-metrics:fact factName="Count" value="1" />
			</custom-metrics:facts>
		</custom-metrics:send>
		<vm:publish queueName="worldtimezoneQueue" doc:name="Publish" doc:id="c74f9312-1c46-4b70-8a96-64520a3dc956" config-ref="VM_Config"/>
		<logger level="INFO" doc:name="Logger" doc:id="b053818c-1f66-49ec-842d-380794206c7d" message="#[payload]"/>
	</flow>
	<flow name="world-time-apiFlow1" doc:id="fc779866-44c4-4988-8395-053bb20c16d1" >
		<vm:listener queueName="worldtimezoneQueue" doc:name="Listener" doc:id="1a335238-8f78-4379-9259-20e79e129be5" config-ref="VM_Config"/>
		<ee:transform doc:name="Transform Message" doc:id="aff8a0a4-f308-4f17-aa30-d4cdfb13bfa0" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
	abbreviation: payload.abbreviation,
	datetime: payload.datetime,
	timezone:payload.timezone,
	day_of_week: payload.day_of_week,
	day_of_year: payload.day_of_year,
	week_number: payload.week_number
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<custom-metrics:send doc:name="Send Custom Metric" doc:id="d4c90686-956f-4c95-9b29-a968986ed33f" metricName="worldtimezoneCM">
			<custom-metrics:dimensions >
				<custom-metrics:dimension dimensionName="Step" value="2" />
			</custom-metrics:dimensions>
			<custom-metrics:facts >
				<custom-metrics:fact factName="Count" value="1" />
			</custom-metrics:facts>
		</custom-metrics:send>
		<logger level="INFO" doc:name="Logger" doc:id="332bf461-b8a2-46e1-8b9c-71987e14f545" message="transformed"/>
	</flow>
</mule>
